

body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(50, 50, 84);
    width: 100vw;
}

nav {
    background-color: rosybrown;
    padding: 15px;
    color: rgb(50, 50, 84);
    text-align: center;
    grid-row: 1;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav img {
    max-width: 50px;
    margin-right: 10px;
}

nav a {
    color: rgb(50, 50, 84);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    color: rgb(255, 255, 255);
}

header {
    background-color:rgb(50, 50, 84);
    color: rgb(50, 50, 84);
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}


/* Stil for seksjon med jobber */
.jobbene-mine {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
    padding: 20px;
}

/* Stil for hver jobb i seksjonen */
.jobb {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc; 
    width: 45%;
    box-sizing: border-box; 
    line-height: 2em;
}


.jobb-image {
    width: 100%; 
    height: 100px;
    object-fit: contain;
    object-position: center;
}



/*Styling for footer og innholdet i footer*/
.footer {
    background-color: rgb(250, 197, 165);
    color: rgb(50, 50, 84);
    text-align: center;
    padding: 20px;
    grid-row: 3;
    display: flex;
    align-items: center;
    margin-top: 200px;
    height: 30vh;
}


.footer img {
    height: 50px; 
    margin-right: 50px; 
}



.contact-info {
    flex-grow: 2; 
    text-align: center;
    align-items: center;
    padding-left: 150px;
    justify-content: center; 
    
}


.logo{   /*Dette er for logene til sosale medier*/
    height: 70px;
    
}







@media (max-width: 767px) {
    body {
        margin-top: 80px;
        justify-content: center;
    }

    nav {
        padding: 10px;
    }

    header {
        margin-top: 80px;
    }

    .jobbene-mine {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        align-items: center; 
    }
    
    .jobb {
        background-color: #ffffff;
        padding: 20px;
        text-align: center;
        border: 1px solid #ccc;
        width: 100%;
        box-sizing: border-box;
    }


    /* Justering av bildet i bunnen på mindre skjermer */
    .jobb-image {
        max-width: 100%; 
        height: auto;
        max-height: 80px;
    }

    .footer {
        margin-top: 80px;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        max-width: 91vw;
    }

    .social-media {
        display: flex; 
        justify-content: center; 
        margin-top: 10px; 
    }

    .social-media img {
        max-width: 30px; 
        height: auto;
        margin: 0 10px; 
    }

    .footer img {
        margin-right: 0;
        margin-bottom: 10px;
    }
/* Tilpasning av kontaktinformasjon i bunnen på mindre skjermer */
    .contact-info {
        padding: 0 20px;

    }
}
